# Composer
vendor
composer.lock

# CraftCms test specific
cpresources

# Misc
.DS_Store
Thumbs.db
.idea
node_modules
npm-debug.log
yarn-error.log


# Claude AI ignore files
todo.md
.claude/settings.local.json