# Composer
vendor
composer.lock

# CraftCms test specific
cpresources

# Misc
.DS_Store
Thumbs.db
.idea
node_modules
npm-debug.log
yarn-error.log

todo.md # TODO file for the project to track tasks that need to be done still