{% if url is defined and url is not null and url is not empty or craft.oembed.valid(url) %}
    {{
        craft.oembed.render(
            url,
        )
    }}
{% else %}
    <p class="error">Please check your URL.</p>
{% endif %}
