{% set media = craft.oembed.embed(url) %}

{% if media and media.code|default(false) %}
    <div class="embed-preview">
        {{ media.code|default('')|raw }}
    </div>
{% else %}
    <p class="error">Please check your URL.</p>
{% endif %}
