CRAFT_DB_DSN="pgsql:host=postgres;port=5432;dbname=postgres"
CRAFT_DB_USER="postgres"
CRAFT_DB_PASSWORD="postgres"
CRAFT_DB_SCHEMA="public"
CRAFT_DB_TABLE_PREFIX="craft"

CRAFT_SECURITY_KEY=3WaPXa5zWQPi3YqkuZpc97JN8rNO-1Ba

FACEBOOK_API_KEY=<your_facebook_api_key> # curl -X GET "https://graph.facebook.com/oauth/access_token?client_id={your-app-id}&client_secret={your-app-secret}&grant_type=client_credentials"